
/*------------------------------ESTRUCTURA Y CUPERO ---------------------------*/
body {
    background-color: whitesmoke;
    height: 100vh;
   
}

header {
    width: 100%;
    height: 15%;

}
header h1 {
    text-align: center;
    

}

section {
    width: 100%;
    height: 75%;

}

article {
    width: 40%;
    height: 100%;
    float: left;
    padding: 1%;
    background-color: blueviolet

}

aside article{
    background-color: aqua;
    float: left;
    width: 100%;
    height: 100%;

}
section .art1{
    background-color: yellow;

}

footer {
    float: left;
    width: 100%;
    background-color: brown
}

aside {
    width: 20%;
    height: 100%;
    float: left;

}

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing:border-box;
}

/*--------------------------------------específicos ID------------------*/

#listas {
    width: 100%;
    height: 20%;
}

#ord {
    width: 100%;
    background-color: red
}


#nord {
    width: 100%;
    background-color: green
}

img {
    width: 60%;
    height: 60%;
}
/* ¿por qué sale esto verde?*/
#welcome2 {
    background-color: aqua;
    /*display:block;*/  /* por probar*/
    width: 50%;
}

#Formulario {
    background-color: blueviolet;
    width: 50%;
   
}

/*---------------------------------------Elementos ------------------------*/
/*h1::before {
    content: url(https://cdn3.iconfinder.com/data/icons/farm-animals/128/cat-512.png)
  }*/

a:hover{
    color: chartreuse;
}

a:visited {
    color: yellow;
}

textarea:focus {   /* este no va :( */
    border: 5;
    border-color: chartreuse;
}


p::first-letter{
    font-size: 2em;
}

::selection {
    color: red;
    background: yellow;
  }

/*--------------------------------------------RESPONSIVE --------------------------------------*/
@media only screen and (max-width: 500px) {
    body {
      background-color: lightblue;
      font-size: 3vw;
    }
    #welcome2 {
        background-color: aqua;
        width: 100%;

    }
    
    #Formulario {
    background-color: blueviolet;
    width: 100%;
   
    }

    article {
        width: 100%;
        height: 100%;
        float: left;
        background-color: blueviolet
    
    }
    
    aside article{
        background-color: aqua;
        float: left;
        width: 100%;
        height: 100%;
    
    }
    aside {
        width: 100%;
        height: 100%;
        float: left;
    
    }



  }